*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.content{
    position: absolute;
    width: 100vw;
    height: 300px;
    border: 30px;
}

.max{
    position: absolute;
    width: 10vw;
    height: 10vh;
}

p{
    position: absolute;
    width: 100vw;
    height: auto;
    color: white;
    left: 350px;
    top: 200px;
    font-size: 35px;
}

.avatar{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    border: 10px;
    top: 150px;
    border: solid 9px white;
}
